<!DOCTYPE html>
<html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}


<h1>Boas vindas!</h1>
<a href="/Account/Login" class="btn btn-primary btn-lg mx-2">Entrar</a>
<a href="/Account/Register">Criar Conta</a>