<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="@Url.Content("~/css/Initial.css")">
</head>
<body>

    <div class="header-usuario text-end py-1 px-3">
        <p class="mb-0 text-muted">Olá, usuário-logado!</p>
    </div>

    <div class="container d-flex justify-content-center align-items-center vh-100-custom">
        <div class="menu-container text-center">
            
            <h1 class="mb-5 text-dark">Bem-Vindo(a)</h1>

            <a href="#" class="btn-menu btn-custom d-block mb-3 p-3 text-start">
                <i class="fas fa-shopping-cart me-3"></i> Pedido
            </a>

            <a href="#" class="btn-menu btn-custom d-block mb-3 p-3 text-start">
                <i class="fas fa-user me-3"></i> Perfil
            </a>

            <a href="#" class="btn-menu btn-custom d-block p-3 text-start">
                <i class="fas fa-users me-3"></i> Sobre nós
            </a>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>