@{
    Layout = "_FluxoPedido";
    ViewData["Title"] = "Cart";
    ViewData["Layout-Title"] = "Seu Carrinho de Compras";
}
<div class="table-responsive">
    <table class="table align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col" class="w-50">Produto</th>
                <th scope="col" class="text-center" style="width: 150px;">Quantidade</th>
                <th scope="col" class="text-end">Preço Total</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="item-carrinho">
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://via.placeholder.com/100" class="img-thumbnail me-3 item-img" alt="Foto Pão de Mel">
                        <div>
                            <h5 class="mb-0">Pão de Mel Gourmet</h5>
                            <p class="text-muted mb-0">Delicioso com cobertura de chocolate e recheio cremoso.</p>
                            <small class="text-secondary">Preço Unitário: R$ 6,00</small>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="input-group input-group-sm quantity-control mx-auto">
                        <button class="btn btn-outline-secondary btn-minus" type="button" data-id="1">-</button>
                        <input type="text" class="form-control text-center quantity-input" value="2" data-unit-price="6.00" readonly>
                        <button class="btn btn-outline-secondary btn-plus" type="button" data-id="1">+</button>
                    </div>
                </td>
                <td class="text-end item-total-price">
                    <h5 class="mb-0 text-success">R$ 12,00</h5>
                </td>
            </tr>

            <tr class="item-carrinho">
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://via.placeholder.com/100" class="img-thumbnail me-3 item-img" alt="Foto Torta de Limão">
                        <div>
                            <h5 class="mb-0">Torta de Limão</h5>
                            <p class="text-muted mb-0">Pedaço de torta de limão cremosa. Serve 1 pessoa.</p>
                            <small class="text-secondary">Preço Unitário: R$ 35,00</small>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <div class="input-group input-group-sm quantity-control mx-auto">
                        <button class="btn btn-outline-secondary btn-minus" type="button" data-id="1">-</button>
                        <input type="text" class="form-control text-center quantity-input" value="1" data-unit-price="6.00" readonly>
                        <button class="btn btn-outline-secondary btn-plus" type="button" data-id="1">+</button>
                    </div>
                </td>
                <td class="text-end item-total-price">
                    <h5 class="mb-0 text-success">R$ 35,00</h5>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>