@model IEnumerable<VLDocesWeb.Models.Product>
@{
    Layout = "_Layout";
    ViewData["Title"] = ViewData["PageTitle"] ?? "Order";

}
<div class="container d-flex justify-content-between">
    <a href="~/Initial/Index" class="btn btn-outline-secondary btn-lg" tabindex="-1" role="button"><i class="bi bi-arrow-left"></i></a>
    <a href="\Order\Cart" class="btn btn-custom btn-lg" tabindex="-1" role="button">Ver Carrinho</a>
</div>
<div class="container page-order text-white">
    @if(ViewBag.IsEncomenda == true)
    {
        <div class="alert alert-warning text-dark mb-4 text-center">
            <i class="fas fa-info-circle"></i> Produtos sob encomenda requerem sinal de 50% e agendamento.
        </div>
    }
    <div class="row g-4">

        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card h-100">
                    
                    <img src="~/lib/img_doceTeste.jpeg" class="card-img-top" alt="@product.Nome" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Nome</h5>
                        <p class="card-text">@product.Descricao</p>
                        
                        <p class="card-text fw-bold">R$ @product.Preco.ToString("C2")</p>
                    </div>
                    <div class="card-body d-flex align-items-center gap-1">
                        <form action="/Order/AddToCart/@product.Id_Produto" method="POST">
                            <button type="submit" class="amount_button">+</button>
                        </form>
                        <form action="/Order/RemoveToCart/@product.Id_Produto" method="POST">
                            <button type="submit" class="amount_button">-</button>
                        </form>
                    </div>
                </div>
            </div>
        } 
    </div>
</div>